<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.legacy.stu_manage.mapper.StuMapper">
    <resultMap id="stuMap" type="com.green.legacy.stu_manage.dto.StuDTO">
        <id     property="stuNum"       column="STU_NUM"        />
        <result property="stuName"      column="STU_NAME"       />
        <result property="stuYear"      column="STU_YEAR"       />
        <result property="classNum"     column="CLASS_NUM"      />
        <association property="classDTO" javaType="com.green.legacy.stu_manage.dto.ClassDTO">
            <id     property="classNum"  column="CLASS_NUM"/>
            <result property="className" column="CLASS_NAME"/>
        </association>
    </resultMap>

    <resultMap id="classMap" type="com.green.legacy.stu_manage.dto.ClassDTO">
        <id     property="classNum"     column="CLASS_NUM"  />
        <result property="className"    column="CLASS_NAME" />
    </resultMap>
    
    <resultMap id="scoreMap" type="com.green.legacy.stu_manage.dto.ScoreDTO">
        <id property="scoreNum" column="SCORE_NUM" />
        <result property="korScore" column="KOR_SCORE" />
        <result property="engScore" column="ENG_SCORE" />
        <result property="mathScore" column="MATH_SCORE" />
        <result property="stuNum" column="STU_NUM" />
        <association property="stuDTO" javaType="com.green.legacy.stu_manage.dto.StuDTO">
            <id     property="stuNum"  column="STU_NUM"/>
            <result property="stuName" column="STU_NAME"/>
        </association>
    </resultMap>

    <select id="selectClassList" resultMap="classMap">
        SELECT CLASS_NUM,
               CLASS_NAME
        FROM ASYNC_CLASS
    </select>

    <select id="selectStudentsByClass" resultMap="stuMap">
        SELECT
            s.STU_NUM,
            s.STU_NAME,
            s.STU_YEAR,
            s.CLASS_NUM,
            c.CLASS_NAME
        FROM ASYNC_STUDENT s
        JOIN ASYNC_CLASS c ON s.CLASS_NUM = c.CLASS_NUM

        <where>
            <if test="classNum != null and classNum != 0">
                s.CLASS_NUM = #{classNum}
            </if>
        </where>
    </select>

    <!-- 학생 점수 조회 -->
    <select id="getScoreInfo" parameterType="int" resultMap="scoreMap">

        SELECT
            IFNULL(sc.SCORE_NUM, 0) AS SCORE_NUM,
            IFNULL(sc.KOR_SCORE, 0) AS KOR_SCORE,
            IFNULL(sc.ENG_SCORE, 0) AS ENG_SCORE,
            IFNULL(sc.MATH_SCORE, 0) AS MATH_SCORE,

            s.STU_NUM,
            s.STU_NAME

        FROM ASYNC_STUDENT s
        LEFT JOIN ASYNC_SCORE sc
        ON s.STU_NUM = sc.STU_NUM

        WHERE s.STU_NUM = #{stuNum}

    </select>

    <!-- 점수 존재 여부 -->
    <select id="isScore" resultType="int">

        SELECT COUNT(*)
        FROM ASYNC_SCORE
        WHERE STU_NUM = #{stuNum}

    </select>

    <!-- 점수 등록 -->
    <insert id="saveScore">

        INSERT INTO ASYNC_SCORE(
            KOR_SCORE,
            ENG_SCORE,
            MATH_SCORE,
            STU_NUM
        )
        VALUES(
                  #{korScore},
                  #{engScore},
                  #{mathScore},
                  #{stuNum}
              )

        ON DUPLICATE KEY UPDATE
            KOR_SCORE = #{korScore},
            ENG_SCORE = #{engScore},
            MATH_SCORE = #{mathScore}

    </insert>

</mapper>
