body{
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
}

*{
  box-sizing: border-box;
}

.container{
  display: flex;
  gap: 30px;
  align-items: center;
  flex-direction: column;
}

/* 왼쪽 */
.left-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 오른쪽 */
.right-content{
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* select */
.select {
  padding: 10px;
  cursor: pointer;
}

/* 테이블 */
.list-table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.list-table th,
.list-table td{
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.list-table th{
  background-color: #f4f4f4;
}

/* 학생 이름 */
.stu-name{
  color: blue;
  cursor: pointer;
}

/* 점수 박스 */
.score-box{
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
}

/* 버튼 div */
.btn-area {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

/* 수정 버튼 */
.edit-btn {
  padding: 10px 20px;
  cursor: pointer;
}

.edit-btn:hover{
  background-color: #ddd;
}

#korScore {
  padding: 8px;
}

#engScore {
  padding: 8px;
}

#mathScore {
  padding: 8px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 반응형 */
@media (max-width: 768px){

  .container{
    flex-direction: column;
  }

  .right-content{
    width: 100%;
  }

}