body{
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
}

*{
  box-sizing: border-box;
}

.container{
  display: flex;
  gap: 30px;
  align-items: center;
  flex-direction: column;
}

/* 왼쪽 */
.left-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 오른쪽 */
.right-content{
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* select */
.select {
  padding: 10px;
}

/* 테이블 */
.list-table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.list-table th,
.list-table td{
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.list-table th{
  background-color: #f4f4f4;
}

/* 학생 이름 */
.stu-name{
  color: blue;
  cursor: pointer;
}

/* 점수 박스 */
.score-box{
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
}

/* 반응형 */
@media (max-width: 768px){

  .container{
    flex-direction: column;
  }

  .right-content{
    width: 100%;
  }

}